@import './default.less';
.scroll-nav {
  background: white;
  width: 100%;
  z-index: 4;
  box-shadow: #e1dfdf 1px 1px 11px;
}

.nav-n {
  align-items: center;
}

.nav-item-n {
  display: none;
  font-size: 14px;
}

.nav-item-n:not(.logo) {
  text-transform: capitalize;
}

.nav-item-n a {
  padding: 0.5rem 0.6rem;
  color: inherit;
}

.nav-item-n:not(.ham):not(.logo):hover {
  color: var(--brand-color);
}

.logo {
  font-family: "Philosopher", sans-serif;
  font-size: 2em;
}

.logo:first-letter {
  color: var(--brand-color);
}

@media (min-width: 1024px) {
  .nav-item-n {
    display: block;
  }
}

.logo,
.ham {
  display: block;
}

.ham {
  margin-left: auto;
  font-size: 1.4rem;
}

@media (min-width: 1024px) {
  .ham {
    display: none;
  }

  .logo {
    margin-right: auto;
  }
}

.drop {
  position: relative;
}

.drop__item {
  position: absolute;
  display: none;
  transition: all 0.5s;
  width: 200px;
  padding: 0.5rem 0;
  opacity: 0;
  box-shadow: 0px 0px 20px 0px #f1f1f1d1, 0px 0px 20px 0px #ffffff2b;
  z-index: 3;
}

.drop__item .nav {
  align-items: flex-start;
}

.drop__item a {
  padding: 0.65rem 1.3rem;
}

.caret:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 5px;
  height: 5px;
  border: none;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
}

.button {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert-Bold,sans-serif;
  font-size: 1.5rem;
  letter-spacing: .02em;
  line-height: 1.1;
  margin-bottom: 20px;
  padding: 14px 30px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
